# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
__Previews
/HW/History
*.log
*.done
*.tmp
*.vcd
/CPLD/epm3256_igp_v/incremental_db
/CPLD/epm3256_igp_v/db
/CPLD/epm3256_igp_v/build
*.bak
output_files
db
incremental_db
/CPLD/epm3256_igp_v/epm3256_igp_orig.qws
